* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

:root {
  color-scheme: only light;
}

/* .popup-appear {
  right: 10px;
  bottom: 10px;
  opacity: 0;
} */
/* .popup-appear-active {
  right: -80px;
  bottom: -50px;
  opacity: 0;
}
.popup-appear-done {
  right: -80px;
  bottom: -50px;
  opacity: 0;
} */
.popup-enter {
  padding: 0rem;
  right: -14rem;
  bottom: -4rem;
  opacity: .1;
  transform: scale(.2);
}
.popup-enter-active {
  padding: 1.3rem;
  opacity: .8;
  transform: translate(-14.7rem, -4.7rem);
  transition: all 1000ms ease-in-out;
}
.popup-enter-done {
  padding: 1.3rem;
  right: .7rem;
  opacity: .8;
  bottom: .7rem;
}
.popup-exit {
  padding: 1.3rem;
  right: .7rem;
  opacity: .8;
  bottom: .7rem;
}
.popup-exit-active {
  padding: 0rem;
  opacity: .1;
  transform: scale(.2) translate(40rem, 15rem);
  transition: all 1000ms ease-in-out;
}
/* .popup-exit-done {
  right: -80px;
  bottom: -50px;
  opacity: 0;
} */